@media only screen and (max-width: 768px) {
  /* For screens with a maximum width of 768px */
  header {
    padding: 10px;
  }
  header nav ul {
    padding: 0;
  }
  header nav ul li {
    display: block;
    margin-right: 0;
  }
  section {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  /* For screens with a maximum width of 480px */
  header {
    padding: 5px;
  }
  header nav ul {
    padding: 0;
  }
  header nav ul li {
    display: block;
    margin-right: 0;
  }
  section {
    width: 80%;
    margin: 0 auto;
  }
}


body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
	transition: color 0.2s ease-in-out;
}

header nav ul li a:hover {
    color: #337ab7;
	transition: color 0.2s ease-in-out;
}

header nav ul li a i {
    margin-right: 10px;
}

header nav ul li a i.fa-home {
    font-size: 18px;
}

header nav ul li a i.fa-user {
    font-size: 18px;
}

header nav ul li a i.fa-briefcase {
    font-size: 18px;
}

header nav ul li a i.fa-envelope {
    font-size: 18px;
}

header nav ul li a i.fa-phone {
    font-size: 18px;
}


header nav a {
    color: #fff;
    text-decoration: none;
}

section {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
	transition: opacity 0.2s ease-in-out;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

section > div {
  width: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

footer {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

/* Add this to the CSS file */
#portfolio {
  background-color: #f7f7f7;
  padding: 20px;
}

.portfolio-item {
  width: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.portfolio-item h3 {
  margin: 10px 0 5px;
  font-size: 1.5em;
}

.portfolio-item p {
  font-size: 1em;
  color: #666;
}
